# app/requirements.txt
Django==4.2 # Используйте LTS версию или новее
psycopg2-binary # Драйвер для PostgreSQL
gunicorn # WSGI-сервер для production
python-decouple # Для удобной работы с .env
Pillow
requests
python-telegram-bot==20.7 # Telegram Bot API
openpyxl==3.1.2